{% extends "base.html" %}

{% block title %} About IC-U {% endblock %}

{% block html_head %}
<meta name="description" content="Motivation page to IC-U">
{% endblock %}

{% block sidebar %}
<a href="/">Intro</a>
<a class="active" href="/about">About</a>
<a href="/iframe">Slide Deck</a>
<a href="/howto">How-To</a>
<div class="nav-second-level">
  <a href="/examples">Examples</a>
  <ul class="examples">
    <li><a href="/examples?ex=stable">Stable</a></li>
    <li><a href="/examples?ex=questionable">Questionable</a></li>
    <li><a href="/examples?ex=urgent">Urgent</a></li>
    <li><a href="/examples?ex=immediate">Immediate</a></li>
  </ul>
</div>
<a href="/forms">Get Started</a>
<a href="/performance">Model Performance</a>
<div class="display">
  <a href="/display">Results</a>
</div>
{% endblock %}

{% block content %}
  <div class="extended">
    <h1>Optimizing ICU Management by Predicting Intensive Care Urgency (IC-U)</h1>
    <h2>The Problem</h2>
    <p>
      Over 5 million patients annually require some form of intensive care, which requires continual and often invasive 
      monitoring, as well as near 1-to-1 nurse-to-patient staffing in order to treat patients effectively. As a result of 
      the complicated nature of ICU care, ICUs are one of the leading drivers of hospital costs in the US today. Hospitals 
      are currently spending $80B a year in ICU care, and these costs are expected to double by 2030. <br><br>
      
      Additionally, median ICU occupancy rates in the US already sit around 75%, and can be as high as 86%. Given that the 
      number of ICU beds in a hospital can range from as low as 6 to 67 beds, many hospitals face extreme challenges managing 
      spikes in ICU needs. <br><br>
      
      It is no surprise then that both ICU operating costs and occupancy rates are major pain points for hospitals across the 
      country and that innovations are necessary to help drive costs down.
    </p>
    <h2>My solution</h2>
    <p>
      The basis of IC-U is to quantify a risk factor (called the "IC-U" factor) reflecting intensive care urgency for patients 
      that present to a hospital and predict an estimated length of stay in the ICU. My solution would take in a patient’s 
      health and demographic information and estimate (1) the likelihood that s/he may need immediate intensive care and (2) the
      likely length of stay (LOS) ultimately required in the ICU.
    </p>
    <h2>Value proposition</h2>
    <p>
      Intensive Care Urgency and LOS estimates can help hospital staff to more quickly identify patients most in need 
      of intensive care and predict ICU occupancy rates in the near term. This will allow hospitals to optimize patient triaging 
      and monitoring and better manage staffing and capacity concerns. Combined, these benefits could both improve patient care 
      and reduce operating costs.
    </p>
    <h2>Model Design</h2>
    <p>
      IC-U uses the <a href="https://mimic.physionet.org">MIMIC-III data base</a>, a freely accessible dataset representing data 
      from ~60,000 ICU stays across 40,000 patients. To quantify intensive care urgency, I calculate the time between hospital 
      admission and ultimate ICU admission and bin these times into 4 distinct categories:
      <ul>
        <li><span style="color:rgb(215, 25, 28);"><strong>Immediate:</strong></span> ICU admission &lt1 hour from hospital admission</li>
        <li><span style="color:rgb(253, 174, 97);"><strong>Urgent:</strong></span> ICU admission &lt24 hours from hospital admission</li>
        <li><span style="color:rgb(171, 221, 164);"><strong>Questionable:</strong></span> ICU admission &lt5 days from hospital admission</li>
        <li><span style="color:rgb(43, 131, 186);"><strong>Stable:</strong></span> ICU admission &gt5 days from hospital admission</li>
      </ul>
    </p>
    <p>
      Two separate models are then fit to the data:
      <ol>
        <li>A multi-class "one-versus-all" logistic regression classifies patients into one of the four urgency categories.</li>
        <li>A gradient-boosting regression estimates the anticipated LOS in the ICU.</li>
      </ol>
    </p>
    <h2>How it works</h2>
      <p>IC-U works as follows:</p>
      <ol>
          <li>Hospital staff inputs patient information into a <a href="http://127.0.0.1:33507/forms">web form</a></li>
          <li>
              Upon submission, the predictive models analyze the patient data and compute both the IC-U factor and an
              estimated length of stay. 
          </li>
          <li>
              Finally, the app displays the results with a description of the main contributors to the IC-U score. With more 
              information about the size and occupancy of the hospital, these results can be utilized to optimize patient care 
              and staffing and serve as an early warning system for ICU capacity issues.
          </li>
      </ol>
      <p>
          As more information for a patient is gathered, the inputs can be updated and a new IC-U factor and LOS can be calculated 
          and displayed as needed.
      </p>
      <h2>Model Performance</h2>
      <p>
        Currently, IC-U is able to achieve 65% accuracy in predicting intensive care urgency. This amounts to identifying urgent and 
        immediate patients an average of about 90 minutes earlier than without.<br><br>
        
        This model suffers from imbalanced classes and tends to overestimate the "immediate" risk category. I will be looking into 
        systematic over/under-sampling techniques (like SMOTE) to improve classification performance in the future.
      </p>
  </div>
{% endblock %}