{% extends "base.html" %}

{% block title %} IC-U Results {% endblock %}

{% block html_head %}
<meta name="description" content="Results">

<script 
    src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"
    crossorigin="anonymous"></script>

{% endblock %}

{% block sidebar %}
<a href="/">Intro</a>
<a href="/about">About</a>
<a href="/iframe">Slide Deck</a>
<a href="/howto">How-To</a>
<div {% if 'active' in exs.values() %} class="nav-second-level active" {% else %} class="nav-second-level" {% endif %}>
  <a {% if 'active' in exs.values() %} class="active" {% endif %} href="/examples">Examples</a>
  <ul class="examples">
    <li><a class={{exs.stable|safe}} href="/examples?ex=stable">Stable</a></li>
    <li><a class={{exs.questionable|safe}} href="/examples?ex=questionable">Questionable</a></li>
    <li><a class={{exs.urgent|safe}} href="/examples?ex=urgent">Urgent</a></li>
    <li><a class={{exs.immediate|safe}} href="/examples?ex=immediate">Immediate</a></li>
  </ul>
</div>
<a href="/forms">Get Started</a>
<a href="/performance">Model Performance</a>
<div class="display active">
  <a class="active" href="/display">Results</a>
</div>
{% endblock %}

{% block content %}
<div class="standard">
    <h1>Results from IC-U</h1>
    <h3 class="figtitle">IC-U Risk Factor: <span style="{{ color | safe }}">{{ risk | safe }}</span></h3>
    {{ div | safe }}
    {{ script | safe }}
    <br>
    <p>{{ text | safe }}</p>

    <h3>Estimated LOS: {{ los | safe }} days</h3>
    <br>
    {% if exs['questionable']=='active' %} 
      <h4><a href="examples?ex=questionable&update=true">See what happens when this patient's data is updated</a></h4>
    {% endif %}
</div>
{% endblock %}