{% extends "base.html" %}

{% block title %} Err: Patient ID Not Recognized {% endblock %}

{% block html_head %}
<meta name="description" content="Example error">
{% endblock %}

{% block sidebar %}
<a href="/">Intro</a>
<a href="/about">About</a>
<a href="/iframe">Slide Deck</a>
<a href="/howto">How-To</a>
<div class="nav-second-level active">
  <a class="active" href="/examples">Examples</a>
  <ul class="examples">
    <li><a href="/examples?ex=stable">Stable</a></li>
    <li><a href="/examples?ex=questionable">Questionable</a></li>
    <li><a href="/examples?ex=urgent">Urgent</a></li>
    <li><a href="/examples?ex=immediate">Immediate</a></li>
  </ul>
</div>
<a href="/forms">Get Started</a>
<a href="/performance">Model Performance</a>
<div class="display">
  <a href="/display">Results</a>
</div>
{% endblock %}

{% block content %}
<div class="standard">
  <h1><span style="color:rgb(255,0,0);">Error!</span></h1>
  <p>
      Patient ID {{ id | safe }} not recognized as a valid example patient. Please 
      choose one of {68409, 78409, 88409, 98409}. Please click on one of the links
      on the the sidebar under <em>Examples</em> to view a valid example.
  </p>
</div>
{% endblock %}
