<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="How-to section for IC-U">
    <meta name="author" content="@adamgifford_phd">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>How to use IC-U!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left how-to">
          <h2>How To Use IC-U</h2>
          <p><strong>NEED TO UPDATE THIS TEXT!!</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-left links">
          <h2>Go To:</h2>
          <ul>
            <li><a href="/">Return to homepage</a></li>
            <li><a href="/about">About the project</a></li>
            <li><a href="/example-urg">See an example</a></li>
            <li><a href="/forms">Get started</a></li>
            <li><a target="_blank" href="https://mimic.physionet.org">More information on the MIMIC Database</a></li>
            <li><a target="_blank" href="https://github.com/adamgiffordphd/imminent_icu_stays">Visit the GitHub repo for this project</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>