
{% extends "base.html" %}

{% block title %} IC-U Slide Deck {% endblock %}

{% block html_head %}
<meta name="description" content="IC-U Slide Deck">
{% endblock %}

{% block sidebar %}
<a href="/">Intro</a>
<a href="/about">About</a>
<a class="active" href="/iframe">Slide Deck</a>
<a href="/howto">How-To</a>
<div class="nav-second-level">
  <a href="/examples">Examples</a>
  <ul class="examples">
    <li><a href="/examples?ex=stable">Stable</a></li>
    <li><a href="/examples?ex=questionable">Questionable</a></li>
    <li><a href="/examples?ex=urgent">Urgent</a></li>
    <li><a href="/examples?ex=immediate">Immediate</a></li>
  </ul>
</div>
<a href="/forms">Get Started</a>
<a href="/performance">Model Performance</a>
<div class="display">
  <a href="/display">Results</a>
</div>
{% endblock %}

{% block content %}
<div class="slidedeck" style="position:relative;width:86%;height:0;padding-bottom:calc(56.25% + 40px);">
  <iframe 
  allowfullscreen 
  style="position:absolute; width: 100%; height: 90%;border: solid 1px #333;" 
  src="https://www.beautiful.ai/embed/-MTRBvUQTDM0uXby02i_?utm_source=beautiful_player&utm_medium=embed&utm_campaign=-MTRB_YQiZRjyFqlZgeM">
  </iframe>
</div>
{% endblock %}
