{% extends "base.html" %}

{% block html_head %}
<meta name="description" content="Introduction">
{% endblock %}

{% block content %}
<div class="standard">
  <h1>Welcome to IC-U!</h1>
  <p>
    ICU care costs and short-term capacity are major pain points for hospitals 
    across the country. Using the MIMIC-III database and a combination of random-
    forest, ridge, and logistic regression, IC-U culminates in an web app that 
    uses patient demographic and clinical information to produce an urgency score 
    (aptly called "Intensive Care - Urgency", or <b>IC-U</b>) for needed intensive care 
    and an estimated length-of-stay in the ICU. <br> <br>

    By predicting intensive care urgency and length of stay, hospitals can better 
    optimize patient care, flow, and logistics, and better prepare for anticipated
    spikes in ICU capacity needs. In turn, this information has the potential to 
    improve patient outcomes and decrease operating costs. <br><br>

    Check out the links in the sidebar to learn more about the project, view the slidedeck, 
    see how IC-U works, and test the app yourself. You can also visit the <a target="_blank" href="https://mimic.physionet.org">MIMIC-III database</a> or 
    the project <a target="_blank" href="https://github.com/adamgiffordphd/imminent_icu_stays">Github page</a>.<br><br>

    Enjoy! <br>
  </p>
</div>
{% endblock %}
