
{% extends "base.html" %}

{% block title %} IC-U Performance {% endblock %}

{% block html_head %}
<meta name="description" content="Performance">

<script 
  type="text/javascript" 
  src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" 
  crossorigin="anonymous">
</script>
<script 
  type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" 
  crossorigin="anonymous">
</script>

{% endblock %}

{% block sidebar %}
<a href="/">Intro</a>
<a href="/about">The Project</a>
<a href="/iframe">Slide Deck</a>
<a href="/howto">How-To</a>
<div class="nav-second-level">
  <a href="/examples">Examples</a>
  <ul class="examples">
    <li><a href="/examples?ex=stable">Stable</a></li>
    <li><a href="/examples?ex=questionable">Questionable</a></li>
    <li><a href="/examples?ex=urgent">Urgent</a></li>
    <li><a href="/examples?ex=immediate">Immediate</a></li>
  </ul>
</div>
<a href="/forms">Get Started</a>
<a class="active" href="/performance">Model Performance</a>
<a href="/aboutme">About Me</a>
<div class="display">
  <a href="/display">Results</a>
</div>
{% endblock %}

{% block content %}
<div class="standard">
    <h1>Model Performance</h1>
    <h2>IC-U Risk Factor</h2>
    <p>
      The IC-U risk factor model has an overall accuracy of 65%. The most likely predictions
      for each risk category tended to be the true categories, as can be seen by the higher
      percentages along the diagonal in the confusion matrix. In general, the predictions for 
      the riskier categories (urgent and immediate) tended to be more accurate than those for
      the less risky categories. <br> <br>
      Feel free to interact with the figure below to explore the performance of the model in 
      more detail. The dropdown menu allows you to view the performance breakdown of the model 
      by raw counts, counts normalized by the true labels, counts normalized by the predicted 
      labels, or counts normalized by the total number of entries in the test set.
    </p>
    {{ div | safe }}
    {{ script | safe }}
</div>
{% endblock %}