
{% extends "base.html" %}

{% block title %} IC-U Performance {% endblock %}

{% block html_head %}
<meta name="description" content="Performance">

<script 
  type="text/javascript" 
  src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" 
  crossorigin="anonymous">
</script>
<script 
  type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" 
  crossorigin="anonymous">
</script>

{% endblock %}

{% block sidebar %}
<a href="/">Intro</a>
<a href="/about">About</a>
<a href="/iframe">Slide Deck</a>
<a href="/howto">How-To</a>
<div class="nav-second-level">
  <a href="/examples">Examples</a>
  <ul class="examples">
    <li><a href="/examples?ex=stable">Stable</a></li>
    <li><a href="/examples?ex=questionable">Questionable</a></li>
    <li><a href="/examples?ex=urgent">Urgent</a></li>
    <li><a href="/examples?ex=immediate">Immediate</a></li>
  </ul>
</div>
<a href="/forms">Get Started</a>
<a class="active" href="/performance">Model Performance</a>
<div class="display">
  <a href="/display">Results</a>
</div>
{% endblock %}

{% block content %}
<div class="standard">
    <h1>Model Performance</h1>
    {{ div | safe }}
    {{ script | safe }}
</div>
{% endblock %}